@font-face {
	font-family: Neflix Sans;
	src: url(../fonts/NetflixSans_W_Md.woff2);
	font-weight: normal;
	font-size: normal;
}
@font-face {
	font-family: Neflix Sans;
	src: url(../fonts/NetflixSans_W_Bd.woff2);
	font-weight: bold;
	font-size: normal;
}

@import 'bs/functions';
$secondary-dark: #e5e5e5;
$secondary: #737373;
$body-bg: #f3f3f3;
$body-bg-dark: #141414;
$dark-bg-subtle-dark: #666666;
$btn-border-radius: 0;
$input-border-radius: 0;
$input-placeholder-color: #fff;
$active-background: $body-bg-dark;
$link-color: #0f84fa;

$font-family-sans-serif: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

@import 'bs/variables';
@import 'bs/variables-dark';

@import 'bs/maps';
@import 'bs/mixins';
@import 'bs/utilities';

@import 'bs/root';
@import 'bs/reboot';
@import 'bs/type';
@import 'bs/images';
@import 'bs/containers';
@import 'bs/grid';
@import 'bs/tables';
@import 'bs/forms';

@import 'bs/buttons';
@import 'bs/transitions';
@import 'bs/dropdown';
@import 'bs/button-group';
@import 'bs/nav';
@import 'bs/navbar';
@import 'bs/card';
@import 'bs/accordion';
@import 'bs/breadcrumb';
@import 'bs/pagination';
@import 'bs/badge';
@import 'bs/alert';
@import 'bs/progress';
@import 'bs/list-group';
@import 'bs/close';
@import 'bs/toasts';
@import 'bs/modal';
@import 'bs/tooltip';
@import 'bs/popover';
@import 'bs/carousel';
@import 'bs/spinners';
@import 'bs/offcanvas';
@import 'bs/placeholders';

@import 'bs/helpers';

@import 'bs/utilities/api';

$custom-color-1: #333333;

[data-bs-theme='dark'] {
	.navbar {
		background-color: $body-bg-dark;
		color: $body-color-dark;
	}
}

a {
	text-decoration: none;
}

.navbar-brand {
	max-width: 100px;
}

.avatar {
	img {
		max-width: 32px;
	}
	i {
		font-size: 0.7rem;
	}
}

.slider-btn {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	min-width: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	max-width: 5%;
	font-size: 2.5rem;

	&.prev-btn {
		left: 0;
	}

	&.next-btn {
		right: 0;
	}
}

footer {
	.container {
		margin-top: 7rem;
		@media (min-width: 992px) {
			max-width: 960px;
		}
		@media (min-width: 1200px) {
			max-width: 960px;
		}
	}
}

.circle-wrap {
	$size: 20px;
	width: $size;
	height: $size;
	box-shadow: 3px 3px 5px black !important;

	i {
		font-size: 0.55em;
	}
}

.bg-custom-1 {
	background-color: $custom-color-1;
}

.w-auto {
	width: auto !important;
}

.w-max-content {
	width: max-content !important;
}

.profile-img {
	height: max-content;
	img {
		max-width: 120px;
	}
}
